<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CASTLE HUNTER</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="static/main.css">
    <link src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></link>
    <link href="static/images/logo.png" rel="shortcut icon" type="image/x-icon" />
  </head>
  <body>
    <header class="navbar sys-navbar navbar-expand fixed-top flex-column flex-sm-row">
      <div class="navbar-brand logo">
        <img src="static/images/logo.png" alt="...">
      </div>
      <div class="sys-nav pl-sm-4 mt-sm-4 mb-sm-3 mb-lg-0 flex-column flex-sm-row">
        <nav class="navbar-nav">
          <a class="title" href="/">CASTLE HUNTER</a>
        </nav>
        <nav class="navbar-nav ml-sm-auto">
          {{ if .admin }}
            {{ if .ru }}
              <a class="btn nav-btn" href="/requests" type="button">Очередь заявок</a>
            {{ end }}
            {{ if .en }}
              <a class="btn nav-btn" href="/requests" type="button">Queue</a>
            {{ end }}
            <div class="sys-separator-vertical"></div>
          {{ end }}
          {{ if .accessFind }}

            {{ if .ru }}
              <button class="btn btn nav-btn" data-toggle="modal" data-target="#find" type="button">Поиск замка</button>
            {{ end }}
            {{ if .en }}
              <button class="btn btn nav-btn" data-toggle="modal" data-target="#find" type="button">Search</button>
            {{ end }}
            <div class="sys-separator-vertical"></div>
          {{ end }}
          {{ if .ru }}
          <button class="btn btn nav-btn" data-toggle="modal" data-target="#new_request" type="button">Купить подписку</button>
          {{ end }}
          {{ if .en }}
            <button class="btn btn nav-btn" data-toggle="modal" data-target="#new_request" type="button">Buy subscription</button>
          {{ end }}
          <div class="sys-separator-vertical"></div>
          {{ if .ru }}
          <a class="btn nav-btn" href="/history" type="button">Посмотреть историю покупок</a>
          {{ end }}
          {{ if .en }}
            <a class="btn nav-btn" href="/history" type="button">Purchase history</a>
          {{ end }}
          <div class="sys-separator-vertical"></div>
          <form method="post" action="/user/quit/">
            {{ if .ru }}
          <button class="btn btn nav-btn" type="submit">Выйти</button>
            {{ end }}
            {{ if .en }}
              <button class="btn btn nav-btn" type="submit">Log out</button>
            {{ end }}
          </form>
          <div class="lang-select">
            {{ if .ru }}
            <img id="lang" src="static/images/rus.png" alt="...">
            {{ end }}
            {{ if .en }}
              <img id="lang" src="static/images/eng.png" alt="...">
            {{ end }}
            <button class="btn lang-select-arrow" type="button">▼</button>
            <div class="lang-select-options">
              <form method="post" action="/user/language/ru">
                <button class="btn lang-select-btn" id="rus" type="submit"><img src="static/images/rus.png" alt="rus"></button>
              </form>
              <form method="post" action="/user/language/en">
                <button class="btn lang-select-btn" id="eng" type="submit"><img src="static/images/eng.png" alt="eng"></button>
              </form>
            </div>
          </div>
        </nav>
      </div>
      <div class="user-info ml-sm-4 pl-sm-1">
        <div class="user-info-slot">
          <p id="user_email">{{ .user.Email }}</p>
        </div>
        <div class="user-info-slot">
          {{ if .ru }}
          <p>Подписка активна до:<br></p><p id="term"></p><p>
            {{ if .accessFind }}{{ .user.DurationOfThePrivilege }} {{ else }} не имеется {{ end }}</p>
          {{ end }}
          {{ if .en }}
            <p>License is active until:<br></p><p id="term"></p><p> {{ if .accessFind }}{{ .user.DurationOfThePrivilege }} {{ else }} not available {{ end }}</p>
          {{ end }}
        </div>
      </div>
    </header>
    <br>
    <main class="mt-5" >
      <div id="main_pic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#main_pic" data-slide-to="0" class="active"></li>
          <li data-target="#main_pic" data-slide-to="1"></li>
          <li data-target="#main_pic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item main_pic active">
            <img src="static/images/pic.png" style="height: 35rem" alt="...">
            <div class="container">
              <div class="carousel-caption text-start">
                {{ if .ru }}
                <button class="btn sys-btn" style="max-width:200px;width:100%" data-toggle="modal" data-target="#new_request" type="button">Купите подписку сейчас</button>
                {{ end }}
                {{ if .en }}
                  <button class="btn sys-btn" style="max-width:200px;width:100%" data-toggle="modal" data-target="#new_request" type="button">Purchase a subscription now</button>
                {{ end }}
              </div>
            </div>
          </div>
          <div class="carousel-item main_pic">
            <img src="static/images/pic1.jpg" style="height: 35rem" alt="...">
            <div class="container">
              <div class="carousel-caption text-start">
                {{ if .ru }}
                  <button class="btn sys-btn" style="max-width:200px;width:100%" data-toggle="modal" data-target="#new_request" type="button">Купите подписку прямо сейчас</button>
                {{ end }}
                {{ if .en }}
                  <button class="btn sys-btn" style="max-width:200px;width:100%" data-toggle="modal" data-target="#new_request" type="button">Purchase your subscription now</button>
                {{ end }}
              </div>
            </div>
          </div>
          <div class="carousel-item main_pic">
            <img src="static/images/pic2.jpg" style="height: 35rem" alt="...">
            <div class="container">
              <div class="carousel-caption text-start">
                {{ if .ru }}
                  <button class="btn sys-btn" style="max-width:200px;width:100%" data-toggle="modal" data-target="#new_request" type="button">Купите подписку прямо сейчас</button>
                {{ end }}
                {{ if .en }}
                  <button class="btn sys-btn" style="max-width:200px;width:100%" data-toggle="modal" data-target="#new_request" type="button">Buy your subscription now</button>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#main_pic" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#main_pic" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
      <div class="container-fluid pt-5">
        <div class="row">
          <div class="col-lg-3 d-flex justify-content-center">
            <div class="block">
              <img src="static/images/image3.png" alt="...">
              {{ if .ru }}
                <h2>Работаем 24/7</h2>
              {{ end }}
              {{ if .en }}
                <h2>Working 24/7</h2>
              {{ end }}
            </div>
          </div>
          <div class="col-lg-3 d-flex justify-content-center">
            <div class="block">
              <img src="static/images/image4.png" alt="...">
              {{ if .ru }}
                <h2>Точный поиск</h2>
              {{ end }}
              {{ if .en }}
                <h2>Exact search</h2>
              {{ end }}
            </div>
          </div>
          <div class="col-lg-3 d-flex justify-content-center">
            <div class="block">
              <img src="static/images/image1.png" alt="...">
              {{ if .ru }}
                <h2>Низкая стоимость</h2>
              {{ end }}
              {{ if .en }}
                <h2>Low prices</h2>
              {{ end }}
            </div>
          </div>
          <div class="col-lg-3 d-flex justify-content-center">
            <div class="block">
              <img src="static/images/image2.png" alt="...">
              {{ if .ru }}
                <h2>Удобство в использовании</h2>
              {{ end }}
              {{ if .en }}
                <h2>Easy to use</h2>
              {{ end }}
            </div>
          </div>
        </div>
        <br>
        <hr class="featurette-divider">
        <div class="container">
          <div class="row featurette">
            <div class="col-md-7">
              {{ if .ru }}
                <p class="lead">CastleHunter - бот для поиска замков в мобильной игре "Lords Mobile" У вас нет времени на поиск вашего врага на карте? С данным ботом это больше не проблема! Вы можете отправить заявку на поиск нужного вам замка, а после заниматься своими делами. Как только бот найдет замок, он отправит вам письмо с информацией о местоположении нужного вам замка.<br><br>Стоимость данной услуги:<br>7 дней - 199₽ <br> 14 дней - 299₽ <br> 30 дней - 399₽</p>
              {{ end }}
              {{ if .en }}
                <p class="lead">CastleHunter - a bot for finding castles in the mobile game "Lords Mobile" Don't have time to find your target on the map? With this bot, this is no longer a problem! You can send an application to find the castle you need, and then go about your business. Once the bot finds the lock, it will send you an email with the location of the lock you want.<br><br>The cost of this service:<br>7 days - 2$ <br> 14 days - 4$<br> 30 days - 6$</p>
              {{ end }}
            </div>
            <div class="col-md-5">
              <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" style="width: 500px; height: 500px; background-size: cover;border-radius: 12%" src="static/images/unnamed.jpg" />
            </div>
          </div>
        </div>
      </div></main>
    <div class="modal sys-modal fade" id="find" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            {{ if .ru }}
            <h5 class="modal-title">Поиск замка</h5>
            {{ end }}
            {{ if .en }}
              <h5 class="modal-title">Find</h5>
            {{ end }}
          </div>
          <div class="modal-body">
            <form class="needs-validation w-75 mx-auto" action="/castle/find/" method="post" novalidate>
              <div class="form-group">
                {{ if .ru }}
                <input class="form-control sys-input" type="text" name="kor" placeholder="Королевство" required>
                {{ end }}
                {{ if .en }}
                  <input class="form-control sys-input" type="text" name="kor" placeholder="Kingdom" required>
                {{ end }}
              </div>
              <div class="form-group">
                {{ if .ru }}
                <input class="form-control sys-input" type="text" name="nick" placeholder="Ник" required>
                {{ end }}
                {{ if .en }}
                  <input class="form-control sys-input" type="text" name="nick" placeholder="Name" required>
                {{ end }}
              </div>
              <div class="form-group d-flex justify-content-center">
                {{ if .ru }}
                <button class="btn form-btn" type="submit" name="button">Найти</button>
                {{ end }}
                {{ if .en }}
                  <button class="btn form-btn" type="submit" name="button">Find</button>
                {{ end }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal sys-modal fade" id="new_request" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            {{ if .ru }}
            <h5 class="modal-title">Выбор подписки</h5>
            {{ end }}
            {{ if .en }}
              <h5 class="modal-title">Subscription selection</h5>
            {{ end }}
          </div>
          <div class="modal-body">
            <form class="needs-validation w-75 mx-auto" action="/request/add/" method="post" novalidate>
              <div class="form-group">
                {{ if .ru }}
                <select class="form-control" type="text" name="type" required>
                  <option>7 дней</option>
                  <option>14 дней</option>
                  <option>30 дней</option>
                </select>
                {{ end }}
                {{ if .en }}
                  <select class="form-control" type="text" name="type" required>
                    <option>7 days</option>
                    <option>14 days</option>
                    <option>30 days</option>
                  </select>
                {{ end }}
              </div>
              <div class="form-group d-flex justify-content-center">
                {{ if .ru }}
                <button class="btn form-btn" type="submit" name="button">Далееу</button>
                {{ end }}
                {{ if .en }}
                  <button class="btn form-btn" type="submit" name="button">Further</button>
                {{ end }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal sys-modal fade" id="request" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            {{ if .ru }}
              <h5 class="modal-title">Информация о заявке</h5>
            {{ end }}
            {{ if .en }}
              <h5 class="modal-title">Application information</h5>
            {{ end }}
          </div>
          <div class="modal-body">
            {{ if .ru }}
            <h6><u>Номер заявки: {{ .requestInfo.ID }}</u></h6>
            <p></p>
            <h6><u>Реквизиты для перевода: Карта {{ .bankDetails }} </u></h6>
            <p></p>
            <h6><u>Стоимость: {{ .requestCost }} </u></h6>
            <p></p>
            <h6><u>Комментарий для перевода: {{ .requestInfo.ID }}</u></h6>
              <p></p>
            {{ end }}
            {{ if .en }}
            <h6><u>Order number: {{ .requestInfo.ID }}</u></h6>
            <p></p>
            <h6><u>Transfer details: Card {{ .bankDetails }} </u></h6>
            <p></p>
            <h6><u>Price: {{ .requestCost }} </u></h6>
            <p></p>
            <h6><u>Payment details: {{ .requestInfo.ID }}</u></h6>
              <p></p>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    <div class="modal sys-modal fade" id="err" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            {{ if .ru }}
            <h5 class="modal-title">Ошибка</h5>
            {{ end }}
            {{ if .end }}
              <h5 class="modal-title">Error</h5>
            {{ end }}
          </div>
          <div class="modal-body">
            <form class="needs-validation w-75 mx-auto" action="" method="post" novalidate>
              <div class="form-group">
                {{ .error }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal sys-modal fade" id="notification" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            {{ if .ru }}
            <h5 class="modal-title">Уведомление</h5>
            {{ end }}
            {{ if .en }}
            <h5 class="modal-title">Notification</h5>
            {{ end }}
          </div>
          <div class="modal-body">
            <form class="needs-validation w-75 mx-auto" action="" method="post" novalidate>
              <div class="form-group">
                {{ .notification }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer" style="display: flex; justify-content: space-between">
      {{ if .ru }}
      <p style="padding-left: 1.5rem">E-mail службы поддержки: nazik02011976@gmail.com</p>
      {{ end }}
      {{ if .en }}
      <p style="padding-left: 1.5rem">Support E-mail: nazik02011976@gmail.com</p>
      {{ end }}
    </footer>
    <script>
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          var forms = document.getElementsByClassName('needs-validation');
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="static/main.js"></script>

    {{ if .errorState}}
    <script type="text/javascript">
      $('#err').modal("show")
    </script>
    {{ else }}
    {{ if .notificationState}}
    <script type="text/javascript">
      $('#notification').modal("show")
    </script>
    {{ end }}
    {{ end }}

    {{ if .requestInfoState}}
      <script type="text/javascript">
        $('#request').modal("show")
      </script>
    {{ end }}
  </body>
</html>
